pyteal==0.10.1
pandas==1.4.0
py-algorand-sdk==2.0.0
flask==2.2.3
werkzeug==2.2.3
opencv-python==4.5.5.64
opencv-contrib-python==4.7.0.72
numpy>=1.19.3
torchvision==0.14.1
Pillow==9.4.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
torch>=2.0.0
torchaudio==2.0.1
torchvision==0.15.1
scikit-learn==1.2.1
json5==0.9.5 
jsonschema==4.4.0
